{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark ">
    <div class="container">
        <div class="row title">
            <h2 class="h2">About Us</h2>
            <h6>Hub for creative minds</h6>
            <div class="spacer-15"></div>
            <div class="page-breadcrumb">
                <a href="index.html">Home</a>/<span>About</span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->

<!-- About Section -->
<section id="about" class="wow fadeIn ptb-80 ptb-sm-30">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h3 class="h4">Welcome to Global Talent House</h3>
                <div class="spacer-15"></div>
                <p>With the Indian advertising entertainment, event & Fashion industry changing and running full stem
                    and opening its doors to global
                    markets & talents, the need to gear up to face stiff competition has never been more felt than now,
                    more so for the creative community
                    which include Graphic designer, Dancers, Singers, Photographers, etc..</p>

                <p>Being In a Vibrant Advertising, Films (Bollywood), T.V, Entertainment and fashion capital city of
                    Mumbai, Global Talent house is the
                    first place you look for your promotional needs and we are confident it will be the last to end your
                    search.</p>

                <p>We at Global talent house understand your needs, your foresight and….you. Thus we take you ahead
                    confirming your presence in style
                    with our sweat our toil. Firming your grip on every industry, securing a spot in every event, here
                    we are, not just to give and take,
                    but to participate.</p>
            </div>
        </div>
        <div class="row mt-80">
            <!-- Welcome Content -->
            <div class="col-md-6">
                <div class="spacer-25"></div>

                <p><strong>Twitter создателя</strong></p>
                <a href="https://twitter.com/VladCapitalist?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @VladCapitalist</a>
                <div class="twitter-line">
                    <a class="twitter-timeline" href="https://twitter.com/VladCapitalist?ref_src=twsrc%5Etfw"></a>
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <!-- End Welcome Content -->

            <!-- Skills -->
            <div class="col-md-6">
                <div class="spacer-25"></div>

                <p><strong>Новости сервиса</strong></p>


            </div>
            <!-- End Skills -->
        </div>
    </div>
</section>

<!-- Vision -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb-80 ptb-sm-60"
         style="background-image: url('img/full/25.jpg');" data-stellar-background-ratio="0.4">
    <h4 class="quote-author text-center">Поддержать проект</h4>
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <h4 class="quote-author">ETH</h4>
                    <p class="lead">Wallet address: 0x9cd73Ccd2c2D012d766fC1372c3E9732AdFBe6Ee</p>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <h4 class="quote-author">TON</h4>
                    <p class="lead">Wallet address: EQDIzMF_0xkGKzlpjzLBDdZMvyEATVIY5khSQLwzZIzAQ_uh</p>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <h4 class="quote-author">DonationAlerts</h4>
                    <p class="lead">Простите, пока не реализовано</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Vision -->

<!-- Team -->
<section class="ptb-80 ptb-sm-80">
    <div class="container text-center">
        <h3>The Team Behind The Scenes</h3>
        <div class="spacer-60"></div>
        <!--Team Carousel -->
        <div class="row">
            <div class="owl-carousel team-carousel nf-carousel-theme">

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="img/team/people-1.jpg" alt=""/>
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>John Doe</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>John Doe</h5>
                            <p class="">Designer</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="img/team/people-2.jpg" alt=""/>
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>John Doe</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>John Doe</h5>
                            <p class="">Artist</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="img/team/people-3.jpg" alt=""/>
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Jane Doe</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>Jane Doe</h5>
                            <p class="">Project Manager</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item nf-col-padding">
                        <div class="team-item-img">
                            <img src="img/team/people-4.jpg" alt=""/>
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>John Doe</h5>
                                    <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h5>John Doe</h5>
                            <p class="">Photographer</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Team Carousel --->
    </div>
</section>
<!-- End Team -->

<!-- About Section -->
{% endblock %}