{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark ">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Industry news</h2>
            <div class="spacer-15"></div>
            <div class="page-breadcrumb">
                <a href="index.html">Home</a>/<span>Industry news</span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->

<!-- About Section -->
<section id="about" class="wow fadeIn ptb-80 ptb-sm-30">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h3 class="h4">Новости индустрии</h3>
                <div class="spacer-15"></div>
            </div>
        </div>
        <div class="row mt-80">
            <!-- Welcome Content -->
            <div class="col-md-12">
                <div class="spacer-25"></div>

                <p><strong>Shikimori</strong></p>
                <a href="https://twitter.com/VladCapitalist?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @VladCapitalist</a>
                <div class="twitter-line">
                    <a class="twitter-timeline" href="https://twitter.com/VladCapitalist?ref_src=twsrc%5Etfw"></a>
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <!-- End Welcome Content -->
        </div>
    </div>
</section>

<!-- About Section -->
{% endblock %}