{% extends 'base.html' %}
{% load static %}


{% block title %}{{ block.super }} :: {{ user.username }}{% endblock %}

{% block content %}
<!-- CONTENT --------------------------------------------------------------------------------->

<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 title">
                <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mb-30">
                    {% if profile.photo %}
                    <img alt="1" src="{{ profile.photo.url }}" class="item-container">
                    {% else %}
                    <img alt="1" src="{% static 'img/page_404.png' %}" class="item-container">
                    {% endif %}
                </div>
                <div class="project-detail-block text-left col-md-7 col-sm-7 col-xs-12">
                    <p>
                        <strong class="dark-color">Пол :</strong> {{ profile.gender }}
                    </p>
                    <p>
                        <strong class="dark-color">Город :</strong> {{ profile.hometown }}
                    </p>
                    <p>
                        <strong class="dark-color">Email :</strong> {{ user.email }}
                    </p>
                    <p>
                        <strong class="dark-color">На сайте с </strong> {{ user.date_joined }}
                    </p>
                    <p>
                        <strong class="dark-color">Соцсети :</strong> 123457890
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Options Section -->
<section class="ptb-30 ptb-sm-30">
    <div class="container text-left">
        <div class="row">
            <div class="row col-md-12">
                <!-- Tab -->
                <div class="tabs mt-15">

                    <ul>
                        <li><a id="tab-1" href="#tabs-1">СМОТРЮ</a></li>
                        <li><a id="tab-2" href="#tabs-2">БУДУ СМОТРЕТЬ</a></li>
                        <li><a id="tab-3" href="#tabs-3">ПРОСМОТРЕНО</a></li>
                        <li><a id="tab-4" href="#tabs-4">БРОШЕНО</a></li>
                        <li><a id="tab-5" href="#tabs-5">ЛЮБИМЫЕ</a></li>
                    </ul>

                    <div class="ui-tab-content">
                        <!-- Lists -->
                        <div id="tabs-1">
                            <div class="container">
                                <div class="row mb-15">
                                    <div class="container">
                                    {% if lists.whatching %}
                                        {% for title in lists.whatching %}
                                                <div class="row-list">
                                                    <div class="col-sm-2">
                                                        <img alt="1" src="{{ title.content.photo.url }}" class="list-img">
                                                    </div>
                                                    <div class="col">
                                                        <p>{{ title.content.title }}</p>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row-list">
                                            <div class="col">
                                                <p>Список пуст</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-------------->
                        <div id="tabs-2">
                            <div class="container">
                                <div class="row mb-15">
                                    <div class="container">
                                    {% if lists.will_be_watching %}
                                        {% for title in lists.will_be_watching %}
                                                <div class="row-list">
                                                    <div class="col-sm-2">
                                                        <img alt="1" src="{{ title.content.photo.url }}" class="list-img">
                                                    </div>
                                                    <div class="col">
                                                        <p>{{ title.content.title }}</p>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row-list">
                                            <div class="col">
                                                <p>Список пуст</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-------------->
                        <div id="tabs-3">
                            <div class="container">
                                <div class="row mb-15">
                                    <div class="container">
                                    {% if lists.viewed %}
                                        {% for title in lists.viewed %}
                                                <div class="row-list">
                                                    <div class="col-sm-2">
                                                        <img alt="1" src="{{ title.content.photo.url }}" class="list-img">
                                                    </div>
                                                    <div class="col">
                                                        <p>{{ title.content.title }}</p>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row-list">
                                            <div class="col">
                                                <p>Список пуст</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-------------->
                        <div id="tabs-4">
                            <div class="container">
                                <div class="row mb-15">
                                    <div class="container">
                                    {% if lists.abandoned %}
                                        {% for title in lists.abandoned %}
                                                <div class="row-list">
                                                    <div class="col-sm-2">
                                                        <img alt="1" src="{{ title.content.photo.url }}" class="list-img">
                                                    </div>
                                                    <div class="col">
                                                        <p>{{ title.content.title }}</p>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row-list">
                                            <div class="col">
                                                <p>Список пуст</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-------------->
                        <div id="tabs-5">
                            <div class="container">
                                <div class="row mb-15">
                                    <div class="container">
                                    {% if lists.like %}
                                        {% for title in lists.like %}
                                                <div class="row-list">
                                                    <div class="col-sm-2    ">
                                                        <img alt="1" src="{{ title.content.photo.url }}" class="list-img">
                                                    </div>
                                                    <div class="col">
                                                        <p>{{ title.content.title }}</p>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row-list">
                                            <div class="col">
                                                <p>Список пуст</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Lists-->
                    </div>
                </div>
                <!-- End Tab -->
            </div>
        </div>
    </div>
</section>
<!-- End Options Section -->

<!-- End CONTENT ------------------------------------------------------------------------------>
{% endblock %}