{% extends 'base.html' %}
{% load static %}


{% block title %}{{ block.super }} :: {{ title }}{% endblock %}

{% block content %}
<!-- CONTENT --------------------------------------------------------------------------------->
<!-- Intro Section -->
<section class="inner-intro dark-bg overlay-dark">
    <div class="container">
        <div class="row title">
            <h2 class="h2">{{ title }}</h2>
            <div class="spacer-15"></div>
            <div class="page-breadcrumb">
                <a href="{% url 'home' %}">Home</a>/<span>{{ title }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->


<!-- Options Section -->
<section class="ptb-60 ptb-sm-30">
    <div class="container text-center">

        <!--
        <div class="row mb-60">
            <div class="col-sm-6 mb-xs-15">
                <button class="btn btn-md btn-black" type="submit" id="form-fb" name="submit">SIGNUP USING FACEBOOK
                </button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-md btn-black" type="submit" id="form-twitter" name="submit">SIGNUP USING
                    TWITTER
                </button>
            </div>
        </div>

        <hr class="mb-15">
        <h3>OR</h3>
        <hr>
        -->

        <div class="mtb-30">
            <!-- Create Account FORM -->
            <form class="registration-form" id="registration" role="form" method="POST">
                {% csrf_token %}
                <h3>Create Account</h3>
                <div class="spacer-30"></div>
                <div class="row">
                    <div class="form-field-wrapper col-sm-12">
                        <input class="input-sm form-full" id="form-nickname" type="text" name="username"
                               placeholder="Nickname*" required readonly onfocus="this.removeAttribute('readonly');">
                        <p class="form-message form-message-hided">* Пользователь с таким Nickname уже зарегистрирован</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field-wrapper col-sm-12">
                        <input class="input-sm form-full" id="form-email" type="email" name="email"
                               placeholder="Email*" required readonly onfocus="this.removeAttribute('readonly');">
                        <p class="form-message form-message-hided">* Пользователь с таким email уже зарегистрирован</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-field-wrapper col-sm-6">
                        <input class="input-sm form-full" id="form-password" type="password" name="password1"
                               placeholder="Password*" required readonly onfocus="this.removeAttribute('readonly');">
                        <p class="form-message form-message-hided">Пароли не совпадают</p>
                    </div>
                    <div class="form-field-wrapper col-sm-6">
                        <input class="input-sm form-full" id="form-confirm-password" type="password" name = 'password2'
                               placeholder="Confirm password*" required readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>
                <div class="form-error">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="form-message">{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-field-wrapper mt-15">
                    <button class="btn btn-md btn-black" type="submit" id="form-submit" name="submit">Create Account
                    </button>
                </div>
            </form>
            <!-- END create account FORM -->
        </div>
    </div>
</section>
<!-- End Options Section -->

<!-- AJAX для валидации формы регистрации -->

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function(){
        $('#registration').submit(function (){
            var a = $('#form-nickname').next().hasClass('form-message-hided');
            var b = $('#form-email').next().hasClass('form-message-hided');
            var c = $('#form-password').next().hasClass('form-message-hided');
            if (!a || !b || !c){ return false; }

            var nickname_input = document.querySelector('#form-nickname');
            var email_form = document.querySelector('#form-email');
            var password_input = document.querySelector('#form-password');
            var confirm_password_input = document.querySelector('#form-confirm-password');

            if (nickname_input.value == '' || email_form.value == '' || password_input.value == '' || confirm_password_input.value == ''){
                nickname_input.style.border = '1px solid red';
                email_form.style.border = '1px solid red';
                password_input.style.border = '1px solid red';
                confirm_password_input.style.border = '1px solid red';
                return false;
            }
            return true;
        });


        $('.form-full').change(function(){
            var password_input = document.querySelector('#form-password');
            var confirm_password_input = document.querySelector('#form-confirm-password');
            if (password_input.value != confirm_password_input.value){
                password_input.style.border = '1px solid red';
                confirm_password_input.style.border = '1px solid red';
                $(password_input).next().removeClass('form-message-hided');
            }else{
                password_input.style.border = '';
                confirm_password_input.style.border = '';
                $(password_input).next().addClass('form-message-hided');
            }

            var nickname_input = document.querySelector('#form-nickname');
            var email_input = document.querySelector('#form-email');
            $.ajax({
                url: "{% url 'registration_form_validate' %}",
                data: {
                    'user_nickname': nickname_input.value,
                    'user_email': email_input.value,
                },
                success: function (response) {
                    if (response.user_nickname){
                        $(nickname_input).next().removeClass('form-message-hided');
                        nickname_input.style.border = '1px solid red';
                    }else{
                        $(nickname_input).next().addClass('form-message-hided');
                        nickname_input.style.border = '';
                    }
                    if (response.user_email){
                        email_input.style.border = '1px solid red';
                        $(email_input).next().removeClass('form-message-hided');
                    }else{
                        email_input.style.border = '';
                        $(email_input).next().addClass('form-message-hided');
                    }
                },
                error: function (response) {
                    console.log(response.responseJSON.errors);
                }
                });
            return false;
        });
    });
</script>
{% endblock javascript %}
<!-- Конец AJAX  -->

{% endblock %}